* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 1.5px;
    line-height: 2;
}
body {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: black;
}
section {
    width: 900px;
    max-height: content;
    border: 3px solid ;
    border-color: linear-gradient(to top, lime, pink, violet, blue);
    height: min-content;
    text-align: center;
}
.borderLinearGradient {
    width: 100%;
    max-width: 900px;
    position: relative;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.9);
    background-clip: padding-box;
    border: solid 5px transparent;
    border-radius: 1em;
    height: min-content;
}
.borderLinearGradient:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin: -5px;
    /* !importanté */
    border-radius: inherit;
    /* !importanté */
    background: linear-gradient(lime, pink, violet, blue);
    animation: animate 6s linear infinite;
    filter: blur(10px);
}
.borderLinearGradient:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin: -5px;
    /* !importanté */
    border-radius: inherit;
    /* !importanté */
    background: linear-gradient(lime, pink, violet, blue);
    animation: animate 6s linear infinite;
    filter: blur(40px);
}
section h2 {
    color: snow;
    font-size: 2rem;
    text-align: center;
}
section p {
    color: lightgrey;
    font-size: 1.2rem;
}
::-webkit-scrollbar {
    width: 0;
}
#scrollPath {
    position: fixed;
    top: 0;
    right: 0;
    width: 10px;
    height: 100%;
    background-color: rgba(255,255,255,0.05);
}
#progressbar {
    position: fixed;
    top: 0;
    right: 0;
    width: 10px;
    background-color: rgba(0, 0, 0, 0.9);
    animation: animate 6s linear infinite;
}
@keyframes animate
{
    0% , 100%
    {
        filter: hue-rotate(0deg);
    }
    50%
    {
        filter: hue-rotate(360deg);
    }
}

#progressbar:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, lime, pink, violet, blue);
    filter: blur(10px);
}
#progressbar:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, lime, pink, violet, blue);
    filter: blur(30px);
}